{% extends "base.html" %}

{% block title %}Job details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .code-output {
            display: flex;
            align-items: flex-start;
        }
        .code-icon {
            margin-right: 10px;
            width: 30px;
            text-align: right;
            display: inline-block;
        }
        .code-container {
            white-space: pre;
            display: inline-block;
        }
        .code-actions {
            margin-top: 5px;
        }
        #copy-code {
            margin-bottom: 0px;
        }

        #job-details-table > tbody > tr > td {
            box-shadow: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="alert alert-dark">
        <p id="view_synth_source"></p>
    </div>
    <div class="alert alert-warning" role="alert" id="progress_banner">
        <span id="view_status">Status</span>
        <button type="button" class="btn btn-danger" id="cancel-job" hidden>Cancel</button>
    </div>

    <!-- Hidden fields to keep job details available -->
    <table
            id="job-details-table"
            custom-job-id="{{ job_id }}"
            data-toggle="table"
            data-card-view="true"
            class="table bg-warning"
            hidden
    >
        <thead>
        <tr>
            <th data-field="job_id" data-visible="false">ID</th>
            <th data-field="status" data-formatter="statusFormatter" data-events="statusEvents">Status</th>
            <th data-field="synth_source">Task</th>
            <th data-field="info">Info</th>
            <th data-field="progress_percent" data-formatter="progressFormatter">Progress</th>
            <th data-field="licence">Licence</th>
            <th data-field="date_start" data-visible="false">Submitted</th>
            <th data-field="date_end" data-visible="false">Finished</th>
        </tr>
        </thead>
    </table>

    <button id="copy-code" class="btn btn-secondary">
        <i class="bi bi-clipboard"></i> Copy all
    </button>

    <div id="job-output-section">
        <!-- Job outputs will be dynamically inserted here -->
    </div>

{% endblock %}
{% block script %}
    <script src="/static/job_details.js"></script>
{% endblock %}
