{% extends "base.html" %}

{% block title %}List Jobs{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        #cancel-job {
            margin-right: 10px;
        }
    </style>

{% endblock %}
{% block content %}

    <h5>Synthesis tasks</h5>

    <div id="jobs-table-toolbar">
        <button id="delete-jobs" class="btn btn-danger" disabled>
            <i class="bi bi-trash"></i>
        </button>
    </div>

    <table
            id="jobs-table"
            data-height="750"
            data-toolbar="#jobs-table-toolbar"
            data-toggle="table"
            data-click-to-select="false"
            data-search="true"
            data-search-accent-neutralise="true"
            data-show-refresh="true"
            data-show-toggle="true"
{#            data-show-columns="true"#}
            data-id-field="job_id"
            data-url="/get_jobs">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="job_id" data-sortable="true" data-visible="false">ID</th>
            <th data-field="synth_source">Task</th>
            <th data-field="date_start" data-sortable="true">Submitted</th>
            <th data-field="date_end" data-sortable="true">Finished</th>
            <th data-field="info">Info</th>
            <th data-field="status" data-sortable="true" data-formatter="statusFormatter" data-events="statusEvents">Status</th>
{#            <th data-formatter="jobActionsFormatter" data-events="jobActionsEvents" data-align="center">Actions</th>#}
        </tr>
        </thead>
    </table>

{% endblock %}
{% block script %}
    <script src="/static/list_jobs.js"></script>
{% endblock %}