{% extends "base.html" %}

{% block title %}Manage Snippet Sources{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

    <h5>Manage code snippet sources</h5>

    <div id="sources-table-toolbar">

        <div class="btn btn-success">
            <a class="nav-link" href="/import_repos">
                <i class="bi bi-plus-square"></i> Import
            </a>
        </div>
        <button id="delete-sources" class="btn btn-danger" disabled>
            <i class="bi bi-trash"></i>
        </button>
        <div class="btn btn-outline-primary">
            <a class="nav-link" href="/advanced_search" >
                Advanced Search
            </a>
        </div>
    </div>

    <table
            id="sources-table"
            data-height="750"
            data-toolbar="#sources-table-toolbar"
            data-toggle="table"
            data-click-to-select="false"
            data-search="true"
            data-search-accent-neutralise="true"
{#            data-show-columns="true"#}
            data-id-field="snippet_source_id"
{#            data-detail-view="true"#}
{#            data-detail-formatter="sourceDetailFormatter"#}
            data-url="/get_snippet_sources">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="snippet_source_id" data-sortable="true" data-visible="false">ID</th>
            <th data-field="name" data-sortable="true">Item Name</th>
            <th data-field="url" data-formatter="urlFormatter">URL</th>
            <th data-field="manual_entry" data-sortable="true" data-visible="false">Manual entry</th>
            <th data-field="licence" data-sortable="true">Licence</th>
            <th data-field="python_ver" data-sortable="true" data-visible="false">Python version</th>
            <th data-field="last_updated" data-sortable="true">Last updated</th>
            <th data-field="disabled" data-formatter="enabledFormatter" data-events="toggleEnabledEvents" data-align="center">Enabled</th>
        </tr>
        </thead>
    </table>

{% endblock %}
{% block script %}
    <script src="/static/manage_repos.js"></script>
{% endblock %}