{% extends "base.html" %}

{% block title %}Start Code synthesis{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        #synthesis-text {
            margin-bottom: 10px;
        }
         #select-synth-method, #select-synth-licence {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}
{% block content %}



{#    <div class="card">#}
{#        <h5 class="card-header">Start Code synthesis</h5>#}
{#        <div class="card-body">#}

{#            <label>Select synthesis method</label>#}
            <select id="select-synth-method" class="form-select" aria-label="Select synthesis method">
                <option value="" selected disabled hidden="">Select synthesis method</option>
                {% for synth_method in synth_methods %}
                    <option value="{{ synth_method }}">{{ synth_method }}</option>
                {% endfor %}
            </select>
             <select id="select-synth-licence" class="form-select" aria-label="Select licence">
                <option value="" selected disabled hidden="">Select licence</option>
            {% for licence in licences %}
                <option value="{{ licence }}">{{ licence }}</option>
            {% endfor %}
            </select>
{#            <label>Enter synthesis prompt</label>#}
            <textarea class="form-control" id="synthesis-text" placeholder="enter synthesis prompt"
                      style="height: 200px"></textarea>

            <button type="button" class="btn btn-primary" id="synthesis-text-submit">Synthesize</button>
{#        </div>#}
{#    </div>#}

{% endblock %}
{% block script %}
    <script src="/static/new_job.js"></script>
{% endblock %}