{% extends "base.html" %}

{% block title %}Start Code synthesis{% endblock %}
{% block head %}
    {{ super() }}

    <style>
        #synthesis-text {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}
{% block content %}



    <div class="card">
        <h5 class="card-header">Start Code synthesis</h5>
        <div class="card-body">
            <textarea class="form-control" id="synthesis-text" placeholder="enter a description"
                      style="height: 200px"></textarea>

            <button type="button" class="btn btn-primary" id="synthesis-text-submit">Implement</button>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="/static/new_job.js"></script>
{% endblock %}